@model Lombiq.Privacy.Models.ConsentBannerSettingsPart

<fieldset>
    <legend>@T("Consent Banner Settings")</legend>

    <ul>
        <li>
            @Html.LabelFor(m => m.EnableConsentBanner, T("Enable consent banner"))
            @Html.CheckBoxFor(m => m.EnableConsentBanner, new { @class = "text-box single-line" })
            @Html.Hint(T("Enable showing the consent banner."))
        </li>
    </ul>
</fieldset>