<span>
    @T("Our site uses browser cookies to personalize your experience. " +
     "Regarding this issue, please find our information on data control and processing <a href='https://lombiq.com'>here</a> " +
     "and our information on server logging and usage of so-called 'cookies' <a href='https://lombiq.com'>here</a>. " +
     "By clicking here You confirm your approval of the data processing activities mentioned in these documents. " +
     "Please, note that You may only use this website efficiently if you agree to these conditions.")
</span>