@{
    Script.Require("jQueryUI");
    Style.Require("jQueryUI");
}

<div id="consent-banner" class="consentBanner" title="@T("Compliance check")">
    @Display.Lombiq_Privacy_ConsentBanner_Text()
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                $("#consent-banner").dialog({
                    position: {
                        my: "right top", at: "right top", of: $("#layout-main-container")
                    },
                    buttons: {
                        "@T("I agree, don't show me this any more").Text": function () {
                            $(this).dialog("close");
                        },
                        "@T("I agree, but continue to show me this each time I visit the site").Text": function () {
                            $(this).dialog("close");
                        },
                    }
                });
            });
        })(jQuery);
    </script>
}