@using Lombiq.Privacy.Constants

@{
    Script.Require("jQuery");

    Style.Require(ResourceNames.RegistrationConsent);

    const string RegistrationCheckboxId = "registration-checkbox";
}


<div id="@RegistrationCheckboxId" class="registrationCheckbox">
    <label>
        <input type="checkbox" required>
        <span>
            @Display.Lombiq_Privacy_RegistrationCheckbox_Text()
        </span>
    </label>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                $("#@RegistrationCheckboxId").insertAfter($("#confirmPassword").closest("div"));
            });
        })(jQuery);
    </script>
}