@using Lombiq.Privacy.Constants
@using Lombiq.Privacy.Models
@using Orchard.Fields.Fields
@using Piedone.HelpfulLibraries.Contents

@{
    Style.Require(ResourceNames.ConsentCheckbox);

    Script.Require(ResourceNames.JsConsentService);
}


<div class="consent-checkbox">
    <label>
        @Html.CheckBox("ConsentCheckboxPart.HasConsent.Value", (Model.ContentPart as ConsentCheckboxPart).AsField<BooleanField>("ConsentCheckboxPart", "HasConsent").Value.Value, new { required = true })
        @Display.Lombiq_Privacy_ConsentCheckbox_Text()
        @Html.ValidationMessage("HasConsent")
    </label>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                if (ConsentCookie.HasConsentCookie()) {
                    $(".consent-checkbox").hide();
                    $("input[name='ConsentCheckboxPart.HasConsent.Value']").prop('checked', true);
                }
            });
        })(jQuery);
    </script>
}