@using Lombiq.Privacy.Constants


@{
    Style.Require(ResourceNames.ConsentCheckbox);

    Script.Require(ResourceNames.JsConsentService);
}


<div class="consent-checkbox">
    <label>
        @Html.CheckBox("ConsentCheckboxPart.HasConsent", false, new { required = true })
        @Display.Lombiq_Privacy_ConsentCheckbox_Text()
    </label>
    @if (Model.MissingConsent != null)
    {
        <div class="consent-checkbox-field-validation-error">
            <span class="field-validation-error">
                @Model.MissingConsent
            </span>
        </div>
    }
</div>


@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                if (ConsentCookie.HasConsentCookie()) {
                    $(".consent-checkbox").hide();
                    $("input[name='ConsentCheckboxPart.HasConsent']").prop('checked', true);
                }
            });
        })(jQuery);
    </script>
}