@using Lombiq.Privacy.ViewModels;
@model PrivacyConsentCheckboxPartEditViewModel

<div class="hint">@T["This widget provides a privacy consent checkbox for the form."]</div>
<div class="form-group pb-1">
    <div class="custom-control custom-checkbox">
        <input asp-for="ShowAlways" class="custom-control-input" />
        <label asp-for="ShowAlways" class="custom-control-label">@T["Show always"]</label>
        <span class="hint">
            @T["Ignores privacy cookie or current user privacy settings. Privacy consent checkbox will always be visible"]
        </span>
    </div>
</div>
