@model PrivacyConsentCheckboxPartViewModel
@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var acceptCookie = consentFeature?.CreateConsentCookie();
}

<fieldset class="form-group" asp-validation-class-for="ConsentCheckbox">
    <div class="form-check">
        <input asp-for="ConsentCheckbox"
               class="form-check-input privacy-consent-checkbox"
               required
               data-cookie-string="@acceptCookie" />
        <label asp-for="ConsentCheckbox" />
        <shape Type="Lombiq_Privacy_ConsentCheckbox_Text" />
        <br>
        <span asp-validation-for="ConsentCheckbox" class="text-danger"></span>
    </div>
</fieldset>

<script asp-name="privacy-consent-checkbox-script" depends-on="jQuery" at="Foot">
    jQuery(function ($) {
        $('.privacy-consent-checkbox').each(function () {
            if (!this.form) return;

            const $checkbox = $(this);
            const $form = $(this.form);
            
            $form.submit(function () {
                if ($checkbox.is(':checked')) {
                    document.cookie = $checkbox.data('cookie-string');
                }
            });
        });
    });
</script>
