@model PrivacyConsentCheckboxPartViewModel

<fieldset class="form-group" asp-validation-class-for="ConsentCheckbox">
    <div class="col-md-9">
        <div class="form-check">
            <input asp-for="ConsentCheckbox" class="form-check-input" required />
            <label asp-for="ConsentCheckbox">
                <shape Type="Lombiq_Privacy_ConsentCheckbox_Text" />
            </label><br>
            <span asp-validation-for="ConsentCheckbox" class="text-danger"></span>
        </div>
    </div>
</fieldset>
